<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%t] [%logger{15}] [%X{traceId}] - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="org.flywaydb.core.internal" level="ERROR"/>
    <logger name="scalikejdbc" level="INFO"/>
    <logger name="akka.event.slf4j" level="ERROR"/>


    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
